.header__top {
  height: 142px;

  border-radius: 7px;
  margin: 8px 0 13px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: var(--light-green-color);
}

.header__top::after {
  content: "";
  position: absolute;

  height: 2px;
  width: 100%;

  bottom: -15px;
  left: 0;

  background-color: #c4c4c4;
}

.header__logo {
  padding: 25px 0;
  margin-left: 85px;

  color: var(--white-color);

  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  text-transform: capitalize;
}

.header__call-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.phone {
  padding-left: 22px;

  color: var(--white-color);

  position: relative;

  font-weight: 700;
  font-size: 31px;
  line-height: 39px;
}

.phone::after {
  content: "";
  position: absolute;

  width: 22px;
  height: 22px;

  top: 11px;
  left: 0;

  background-image: url(./../icons/phone.svg);
  background-repeat: no-repeat;

  transform: rotate(9.9deg);
}

.phone-text,
.header__call-order,
.header__authorization {
  color: var(--white-color);

  font-weight: 200;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
}

.phone-text {
  margin-left: 65px;
}

.header__call-order {
  padding: 19px 30px;
  border: 3px solid var(--white-color);
  border-radius: 7px;
  margin-left: 30px;

  color: var(--white-color);
  background-color: transparent;

  text-transform: uppercase;
}

.header__authorization {
  padding-top: 40px;
  margin-right: 52px;
  margin-left: 30px;

  position: relative;

  text-transform: uppercase;
}

.header__authorization::after {
  content: "";
  position: absolute;

  width: 36px;
  height: 36px;

  top: 0;
  right: 93px;

  background-image: url(./../icons/user.svg);
  background-repeat: no-repeat;
}

.menu {
  display: flex;

  margin: 0 90px 16px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.menu_item {
  padding: 32px 0;

  position: relative;
}

.menu_link {
  display: block;

  padding: 10px 22px;

  position: relative;

  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
}

.arrow-down::after {
  content: "";
  position: absolute;

  height: 16px;
  width: 25px;

  top: 18px;
  right: 0;

  background-image: url(./../icons/arrow-down.svg);
  background-repeat: no-repeat;
}

.arrow-down:hover::after {
  background-image: url(./../icons/arrow-down-green.svg);

  transition: all 0.5s ease;
}

.arrow-down {
  padding: 10px 31px 10px 22px;
}

.menu_item:hover {
  color: var(--light-green-color);

  transition: all 0.5s ease;
}

.arrow-down:hover path {
  fill: var(--light-green-color);
}

.menu_sublist {
  display: none;
  position: absolute;

  left: 0;
  top: auto;
}

.menu_subitem {
  min-width: 400px;

  padding: 11px 8px 3px;
  margin-bottom: 1px;

  position: relative;

  background-color: var(--light-green-color);
}

.menu_subitem:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu_subitem:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.arrow-right::after {
  content: "";
  position: absolute;

  height: 16px;
  width: 25px;

  top: 18px;
  right: 0;

  background-image: url(./../icons/arrow-right.svg);
  background-repeat: no-repeat;
}

.menu_sublink {
  width: 100%;
  color: var(--white-color);

  font-weight: 200;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
}

.menu_subitem .menu_sublist {
  position: absolute;
  top: 0;
  left: 399px;
}

.menu_subitem .menu_subitem {
  min-width: 500px;
}

.menu_item:hover > .menu_sublist {
  display: block;
}

.menu_item:hover .menu_subitem:hover {
  background-color: #60a861;

  transition: all .5s ease;
}

.search-box {
  display: flex;
  align-items: center;
  margin-left: 65px;
}

.search {
  display: block;

  width: 34px;
  height: 34px;

  background-image: url(./../icons/loupe.svg);
  background-position: center;
}
